<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InvestDB2Entities" connectionString="metadata=res://*/InvestDbModel.csdl|res://*/InvestDbModel.ssdl|res://*/InvestDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=InvestDB2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>